.NewTodoForm {
  width: 100%;
  height: 70px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  background-color: #25273c;
  border-radius: 3px;
  box-sizing: border-box;
}

.NewTodoForm .NewTodoForm-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.NewTodoForm .NewTodoForm-form input[type=text] {
  width: 88%;
  color: #bbbdd2;
  font-size: 25px;
  background-color: transparent;
  border: none
}

.NewTodoForm .NewTodoForm-form input[type="text"]::placeholder {
  color: #bbbdd2;
  font-size: 21px;
}

.NewTodoForm .NewTodoForm-form input[type="text"]:focus {
  outline: none;
}

.NewTodoForm .NewTodoForm-form .add-task-btn {
  width: 35px;
  height: 35px;
  font-size: 22px;
  color: #f5f5f5;
  background-color: #25273c;
  border: 1px solid #2c2e43;
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.25s;
}

.NewTodoForm .NewTodoForm-form .add-task-btn:hover {
  background-color: #12c940;
  outline: none;
  transition: all 0.25s;
}

.NewTodoForm .NewTodoForm-form .add-task-btn:active {
  background-color: #1458d6;
  outline: none;
  transition: all 0.25s;
}

.NewTodoForm .NewTodoForm-form .add-task-btn:focus {
  outline: none;
  transition: all 0.25s;
}

/* .NewTodoForm .NewTodoForm-form .add-task-btn:active .check-icon {
  color: #fafafa;
  outline: none;
  transition: all 0.25s;
} */

.input-task-label {
  display: none;
}
