.TodoList-footer {
  width: 100%;
  padding: 5px 20px;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 70px;
  color: #bbbdd2;
  border-top: 1px solid #34364b;
}

.filter-completed input[type="radio"] {
  opacity: 0;
}

.filter-completed label {
  cursor: pointer;
}

.light-mode .filter-completed {
  color: #444553;
}

.filter-completed label.active {
  color: rgb(19, 106, 238);
  transition: all 0.25s;
}

.TodoList-footer .clear-completed {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: #bbbdd2;
  font-size: 18px;
}

.light-mode .TodoList-footer .clear-completed,
.light-mode .TodoList-footer .show-completed {
  color: #34364b;
}

.filter-completed__small_screen {
  display: none;
  margin-top: 2rem;
  position: absolute;
  width: 100%;
  background-color: #25273c;
  bottom: -5rem;
  height: 60px;
  border-radius: 5px;
  transition: all 0.25s;
}

.light-mode .filter-completed__small_screen  {
  background-color: #f5f5f5;
  color: #444553;
}

@media (max-width:600px) {
  .TodoList-footer .filter-completed {
    display: none;
  }

  .filter-completed__small_screen {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.25s;
    color: #bbbdd2;
  }
}
