.Todo {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #34364b;
}

/* .Todo:last-child {
  border-bottom: none;
} */

.Todo li {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.Todo li input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index:10;
  opacity: 0;
  cursor: pointer;
}

.Todo li .toggle-completed {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  overflow: hidden;
  background-image: linear-gradient(125deg,rgb(34, 144, 247),rgba(119, 4, 135, 0.789));
}

.Todo li .toggle-completed::before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 24px;
  height: 24px;
  background-color: #25273c;
  border-radius: 12px;
}

.App.light-mode .Todo li .toggle-completed::before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 24px;
  height: 24px;
  background-color: #f5f5f5;
  border-radius: 12px;
}

.App .Todo li .toggle-completed.completed::before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 24px;
  height: 24px;
  background-image: linear-gradient(125deg,rgb(34, 144, 247),rgba(119, 4, 135, 0.789));
  border-radius: 12px;
}

.App.light-mode .Todo li .toggle-completed.completed::before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 24px;
  height: 24px;
  background-image: linear-gradient(125deg,rgb(34, 144, 247),rgba(119, 4, 135, 0.789));
  border-radius: 12px;
}

.Todo-text {
  padding: 0px 15px;
  color: #bbbdd2;
}

.App.App.light-mode .Todo-text {
  padding: 0px 15px;
  color: #3d3c49;
}

.Todo-remove-btn {
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: auto;
}

.Todo-remove-btn .cross-icon {
  opacity: 0;
  font-size: 26px;
  color: #34364b;
  cursor: pointer;
}

.Todo li:hover .cross-icon {
  opacity: 1;
  transition: all 0.25s;
}

.toggle-completed .check-icon {
  z-index: 1;
}

.strike-line {
  text-decoration: line-through;
  color: #4a4c5a;
  font-style: italic;
  transition: all 0.25s;
}

.App.light-mode .Todo-text.strike-line {
  text-decoration: line-through;
  color: #707280;
  font-style: italic;
  transition: all 0.25s;
}

.Todo .Todo-edit-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 20px;
  border-bottom: 1px solid #34364b;
}

.Todo .Todo-edit-form input[type=text] {
  width: 88%;
  color: #bbbdd2;
  font-size: 18px;
  font-style: italic;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Todo .Todo-edit-form input[type="text"]::placeholder {
  color: #bbbdd2;
  font-size: 21px;
}

.Todo .Todo-edit-form input[type="text"]:focus {
  outline: none;
}

.Todo .Todo-edit-form .save-edit-btn {
  border: none;
  font-size: 18px;
  background-color: transparent;
  outline: none;
  color: #34364b;
  cursor: pointer;
}

.Todo .Todo-edit-form .save-edit-btn:focus {
  outline: none;
}

.Todo .Todo-edit-form .save-edit-btn:hover {
  color: #45475c;
}

